/* style.css */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(218, 195, 195);
  text-align: center;
  
}


p {
  color: red;
}
.box {
 background-color: rgb(247, 135, 135);
 margin:auto;
 padding: 7px;
 width:350px;
 border-style: solid;
 border-color: red;
 margin-bottom: 20px;
 text-align: left;

}

.method {
  background-color: rgb(190, 244, 244);
  width:350px;
  padding: 7px;
  margin:auto;
  border-style: solid;
  border-color: rgb(2, 2, 158);
  text-align: left;
}

